<!DOCTYPE html>
{% load static %}
<html lang="en-us">
	<head>
		<meta http-equiv="Content-Security-Policy" content="script-src 'self';">
		<title>CMarket - POST</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CMarket/style.css' %}">
        <script src="{% static 'CMarket/post.js' %}" defer></script>
	</head>

	<div class="header">
        <div class="user">
            {% if acc_disp %}
                <a style="color:white;" href="{% url 'logout' %}">{{ acc_disp }}</a>
            {% elif log_disp %}
                <a style="color:white;" href="{% url 'login' %}">{{ log_disp }}</a>
            {% endif %}
		</div>
		<h1>CMarket</h1>
		<h2>Post a message publicly or send it privately to a specific user!</h2>
	</div>

	 <div class="topnav">
		<a href="{% url 'home' %}">Home</a>
		<a class="active" href="{% url 'post' %}">Post</a>
        <a href="{% url 'public' %}">Public</a>
        <a href="{% url 'private' %}">Private</a>
     </div>

	<body>
		<div class="a">
            <br><br>
            <h2 id="pagelabel">Send a message!</h2>
            <form id="postform" method="POST">
                {% csrf_token %}
                <label for="target">To (leave blank for public): </label>
                <input name="target" id="target" type="text"/>
                <br><br><br>
                <label for="message">Message below</label>
                <br>
                <textarea name="message" id="message" rows="4" cols="50">Send or post a message here!</textarea>
                <br>
                <pre id="num">0 characters in message (limit 4000)</pre>
                <pre id="warning">Character limit all good!</pre>
                <br>
                <button id="confirm">Let's go!</button>
            </form>
            <br><br>
            <h3 id="status">{{ status }}</h3>
		</div>
	</body>
</html>