<!DOCTYPE html>
{% load static %}
<html lang="en-us">
	<head>
		<meta http-equiv="Content-Security-Policy" content="script-src 'self';">
		<title>CMarket - PRIVATE</title>
		<link rel="stylesheet" type="text/css" href="{% static 'CMarket/style.css' %}">
	</head>

	<div class="header">
        <div class="user">
            {% if acc_disp %}
                <a style="color:white;" href="{% url 'logout' %}">{{ acc_disp }}</a>
            {% elif log_disp %}
                <a style="color:white;" href="{% url 'login' %}">{{ log_disp }}</a>
            {% endif %}
		</div>
		<h1>CMarket</h1>
		<h2>View all messages that were sent to you privately!</h2>
	</div>

	 <div class="topnav">
		<a href="{% url 'home' %}">Home</a>
		<a href="{% url 'post' %}">Post</a>
        <a href="{% url 'public' %}">Public</a>
        <a class="active" href="{% url 'private' %}">Private</a>
     </div>

	<body>
		<div class="a">
           <br>
            <form action="{% url 'delete_messages' %}" method="GET">
                {% csrf_token %}
                <input class="btn btn-default btn-danger" type="submit" value="Delete All"/>
            </form>
            <br><br>
{% if messages %}
           <table class="content">
               <tr class="content"><th class="content">Sender</th><th class="content">Message</th></tr>
    {% for message in messages %}
               <tr class="content"><td class="content">{{ message.origin }}</td><td class="content">{{ message.content }}</td></tr>
    {% endfor %}
       </table>
{% else %}
           <h3>No messages have been sent to you.</h3>
{% endif %}
		</div>
	</body>
</html>